<div style="background:#eee; padding:15px;">

    <h3>Provider Panel</h3>

    <ul>

        <li>
            <a href="{% url 'provider_dashboard' %}">
                Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'create_service' %}">
                Create Service
            </a>
        </li>

        <li>
            <a href="{% url 'provider_services' %}">
                My Services
            </a>
        </li>

        <li>
            <a href="{% url 'provider_bookings' %}">
                Bookings
            </a>
        </li>

        <li>
            <a href="{% url 'provider_earnings' %}">
                Earnings
            </a>
        </li>

        <li>
            <a href="{% url 'manage_availability' %}">
                My Availability
            </a>
        </li>

        <li>
            <a href="{% url 'my_tickets' %}">
                Support Tickets
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                Logout
            </a>
        </li>

    </ul>

</div>